.post-container
  margin-bottom: 4rem

.post-info
  margin-bottom: 1rem
  font-size: 13px
  line-height: 1rem
  color: $gray-600
  padding-bottom: .25rem
  border-bottom: 1px dashed $gray-200
  .post-info__time
    color: $gray-400

.featured-image__container
  max-width: 100%
  position: relative
  margin-bottom: 1rem
  border: 2px solid $gray-200
  border-radius: 4px
  padding: 1rem
  box-shadow: 0 0 16px rgba(0,0,0,0.09)
  img
    max-width: 100%
    height: auto
