.post-container
  margin-bottom: 4rem

.post-info
  margin-bottom: 1rem
  font-size: 13px
  line-height: 1rem
  color: $gray-600
  padding-bottom: .25rem
  border-bottom: 1px dashed $gray-200
  .post-info__time
    color: $gray-400
